/*img {
	color:transparent;
	font-size:0;
	vertical-align:middle;
	border:none;
	-ms-interpolation-mode:bicubic;
	max-width:100%;
	height:auto !important}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h3 {
	font-size:1.800em;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}

h1.large {
	font-size:4em}

.premium-title {
	margin-top:20px}

.premium-super{
	width:100px;margin-bottom:24px}

.main-content {
	padding-top:97px;
}

.wrap {
	position:relative;
	margin:0 auto;
	padding:0 30px;
}
.wrap.-size-lg {
	max-width:1180px;
}

.block {
	padding-top:80px;
	padding-bottom:80px;
}
.large {
	font-size:4.200em;
}
._no-mg-b{
	margin-bottom:0 !important}

._align-center {
	text-align:center;
}*/


